.mat-empty-row {
    height: 80px;
    border: none;
  }
  
  .mat-empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #bbb;
    height: 100%;
  }